### Common

# IntelliJ
.idea

# Node Modules
node_modules

# Env
**/.env*

# Build OutPut
dist

# turbo
.cache
.turbo

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/.pnpm-debug.log*

# Vite Workspace
**/vite.config.*.timestamp-*

### Backend

# Prisma
apps/backend/db
apps/backend/prisma/migrations

# Public
apps/backend/public

# Config
apps/backend/mergeSchema.graphql
apps/backend/serviceAccountKey.json

### Frontend

# Config
apps/frontend/apollo.config.js
apps/frontend/components.d.ts
